In [54]:
import pandas as pd
from pathlib import Path

In [55]:
#create paths to csv files
school_data = Path("Resources/schools_complete.csv")
student_data = Path("Resources/students_complete.csv")

In [220]:
# read csv files
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)
#school_df

In [57]:
# combine datasets
combined_df = pd.merge(student_df, school_df, how="left", on=["school_name",
                                                             "school_name"])
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [58]:
# Total number of unique school
school_count = combined_df['school_name'].nunique()
school_count

15

In [59]:
# Total number of students
student_count = combined_df['student_name'].count()
student_count

39170

In [60]:
# total budget
total_budget = school_df['budget'].sum()
total_budget

24649428

In [61]:
# Average Math Score
avg_math_score = combined_df['math_score'].mean()
avg_math_score

78.98537145774827

In [62]:
#Average Reading Score
avg_reading_score = combined_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [63]:
# % of students who passed math
passing_math_count = combined_df[(combined_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [64]:
# % of students who passed reading
passing_reading_count = combined_df[(combined_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [65]:
# overall % of students who passed math and reading
passing_math_reading_count = combined_df[
    (combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [69]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({'Total Schools': [school_count], 'Total Students': [student_count], 
                                'Total Budget': [total_budget], 'Average Math Score': [avg_math_score],
                                'Average Reading Score': [avg_reading_score], '% of Students who Passed Math' : [passing_math_percentage],
                                '% of Students who Passed Reading' : [passing_reading_percentage],
                                'Overall Passing Rate': [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students who Passed Math,% of Students who Passed Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [70]:
# SCHOOL SUMMARY

In [153]:
#school names
#school_name = combined_df.set_index('school_name')['type'].unique()

In [262]:
# selecting all school types
#school_types = combined_df.drop_duplicates('school_name').set_index('school_name')['type']
school_types = combined_df.groupby('school_name')['type'].first()
#school_types

In [263]:
# calculate total number of students per school
per_school_counts = combined_df.groupby('school_name')['size'].first()
#per_school_counts

In [286]:
# Calculate the total school budget and per capita spending per school
per_school_budget = combined_df.groupby('school_name')['budget'].first()
#per_school_capita = per_school_budget / per_school_counts
per_school_capita = per_school_budget / combined_df.groupby('school_name')['student_name'].count()
#per_school_budget
#per_school_capita

In [157]:
# Calculate the average test scores per school
per_school_math = combined_df.groupby('school_name').agg(
    Avg_Math_Score=('math_score', 'mean'))
per_school_reading = combined_df.groupby('school_name').agg(
    Avg_Reading_Score=('reading_score', 'mean'))
#per_school_math
#per_school_reading

In [269]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = combined_df[combined_df['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()
#school_students_passing_math

In [160]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = combined_df[combined_df['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name')['Student ID'].count()
#school_students_passing_reading

In [161]:
#code from sample
students_passing_math_and_reading = combined_df[
    (combined_df["reading_score"] >= 70) & (combined_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [287]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
#per_school_passing_math

In [278]:
# Create DataFrame
#per_school_summary = pd.DataFrame({'School Name': [school_name], 'School Types': [school_types], 
                                #'Total Students': [per_school_counts], 'Total School Budget': [per_school_budget],
                                #'Per Student Budget': [per_school_capita], 'Average Math Score' : [per_school_math],
                                #'Average Reading Score' : [per_school_reading],
                                #'% Passing Math': [per_school_passing_math],'% Passing Reading': [per_school_passing_reading],'% Overall Passing': [overall_passing_rate]})

#school_name_df = pd.DataFrame(school_types)
per_school_summary = pd.DataFrame({
    'School Name': school_types.index,
    'School Type': school_types.values,
    'Total Students': per_school_counts.values,
    'Total School Budget': per_school_budget.values,
    'Per Student Budget': per_school_capita.values,
    'Average Math Score': school_students_passing_math.values,
    'Average Reading Score': school_students_passing_reading.values,
    '% Passing Math': per_school_passing_math.values,
    '% Passing Reading' : per_school_passing_reading.values,
    '% Overall Passing' : overall_passing_rate.values

})
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,3318,4077,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,1749,1803,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,1946,2381,65.988471,80.739234,53.204476
3,Ford High School,District,2739,"$1,763,916.00",$644.00,1871,2172,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,1371,1426,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,3094,3748,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,"$248,087.00",$581.00,395,411,92.505855,96.252927,89.227166
7,Huang High School,District,2917,"$1,910,635.00",$655.00,1916,2372,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,3145,3867,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,"$585,858.00",$609.00,910,923,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,2654,3208,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,1653,1688,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,1525,1591,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,2143,2204,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,1680,1739,93.333333,96.611111,90.333333

In [ ]:
#HIGHEST-PERFORMING SCHOOLS

In [279]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,1749,1803,94.133477,97.039828,91.334769
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,1525,1591,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,1371,1426,93.392371,97.138965,90.599455
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,2143,2204,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,"$585,858.00",$609.00,910,923,94.594595,95.945946,90.540541

In [280]:
#BOTTOM PERFORMING SCHOOLS

In [281]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,2654,3208,66.366592,80.220055,52.988247
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,1946,2381,65.988471,80.739234,53.204476
7,Huang High School,District,2917,"$1,910,635.00",$655.00,1916,2372,65.683922,81.316421,53.513884
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,3094,3748,66.752967,80.862999,53.527508
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,3145,3867,66.057551,81.222432,53.539172

In [282]:
# MATH SCORES BY GRADE

In [290]:
# Use the code provided to separate the data by grade
ninth_graders = combined_df[(combined_df["grade"] == "9th")]
tenth_graders = combined_df[(combined_df["grade"] == "10th")]
eleventh_graders = combined_df[(combined_df["grade"] == "11th")]
twelfth_graders = combined_df[(combined_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
#ninth_grade_math_scores = combined_df['column_name'] > 5combined_df.groupby('school_name')['math_score'].mean().reset_index()
#tenth_grader_math_scores = combined_df.groupby('school_name')
#eleventh_grader_math_scores = combined_df.groupby('school_name')
#twelfth_grader_math_scores = combined_df.groupby('school_name')

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
#math_scores_by_grade = 

# Minor data wrangling
#math_scores_by_grade.index.name = None

# Display the DataFrame
#math_scores_by_grade
#ninth_grade_math_scores
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635